<div class="container">
    <mat-card id="part1">
        <mat-card-header>
            <mat-card-title><h1>CryptoTicker </h1></mat-card-title>
        </mat-card-header>
        <div id="imgContainer">
            <img  src="../../assets/crypto.jpg" alt="cryptoPic">
        </div>
        <mat-card-content>
            <h3>App Demonstrates</h3>
                <ul>
                    <li>Angular</li>
                    <li>Angular Material</li>
                    <li>Async Workflows</li>
                    <li>Node.js</li>
                    <li>Express.js</li>
                    <li>More Coming Soon...</li>
                </ul> 
        </mat-card-content>
    </mat-card> 
    <mat-card id="part2">
        <mat-card-header>
            <mat-card-title><h3>Other Crypto References</h3></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <ul>
                <li><a target="blank" href="https://beta.yen.io/yenIq">Yen.io</a></li>
                <li><a target="blank" href="https://coinmarketcap.com/">CoinMarketCap</a></li>
                <li><a target="blank" href="https://cointelegraph.com/tags/cryptocurrencies">Coin Telegraph</a></li>
            </ul> 
        </mat-card-content>
    </mat-card> 
</div>




