
.container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    /* background-color: blue; */
}

@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}

#part1 {
    max-width: 630px;
    width: calc(55% - 68px);
    height: calc(85% + 20px);
    margin: 10px;
    box-shadow: 5px 5px 10px #888888;
    /* background-color: pink; */
}

@media screen and (max-width: 1000px) {
    #part1 {
        height: 70%;
    }
}

@media screen and (max-width: 800px) {
    #part1 {
        max-width: 100%;
        width:calc(100% - 68px);
        height: auto;
    }
}

@media screen and (max-width: 500px) {
    #part1 {
        height: auto;
    }
}

#imgContainer {

}

@media screen and (max-width: 800px) {
    #imgContainer {
        max-height: 600px;
    }
 }

img {
    width: calc(100% - 10px);
    border: solid 5px #4bb04d;
}

@media screen and (max-width: 800px) {
    img {
        max-width: 650px;
    }
 }

.mat-card-content {
    padding-top: 10px;
}


#part2 {
    min-width: 175px;
    width: calc(15% - 68px);
    height: 40%;
    margin: 10px;
    box-shadow: 5px 5px 10px #888888;
    /* background-color: yellow; */
}

@media screen and (max-width: 800px) {
    #part2 {
        width:calc(100% - 68px);
        height: 150px;
    }

}






